<ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/categorie/list/">Категории<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/manufirm/list/">Фирма производитель<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        {% if user.is_authenticated%}<a class="nav-link" href="{% url 'user' %}">Мои данные<span class="sr-only">(current)</span></a>{% endif %}
        </li>
    <li class="nav-item dropdown">
    <!-- <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
        {% include 'drop_down_menu.html' %}
    </div> -->
    </li>
</ul>